
//----------- Angular Matherials
@import '{}/node_modules/@angular/material/theming';
@include mat-core();

@import '{}/node_modules/@covalent/core/theming/all-theme';
@import '{}/node_modules/@covalent/core/common/platform';

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-blue-grey);
$warn:    mat-palette($mat-amber);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);
