//@import "../../styles/main-theme";
@import '../../../../../client/main';
/*
    Useful Constants
 */
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);

$background : 50;
$panel-height: 65px;
/*
    Utility Classes
 */
.primary{
  color:mat-color($primary);
}
.accent{
  color:mat-color($accent);
}
.success{
  color:#259b24;
}
.warn{
  color:mat-color($warn);
}
.image-to-icon{
  height:24px; //Default height for material icon.
}
/*
    Component Formatting
 */
.panel-container{
  $border-color: mat-color($accent,$background);
  border-top: solid 1px $border-color;
  border-bottom: solid 1px $border-color;
  padding-bottom:0;
  min-height: $panel-height;
  margin: 5px 0 5px 0;
  position:relative;
}
.button-panel{
  display:flex;
  flex-wrap: wrap;
  padding: 5px;
}
.upload-progress{
  position:absolute;
  bottom:0;
}
.panel-title{
  margin:20px 5px 0 5px;
  padding: 5px;
  padding-bottom: 0;
}
button{margin:5px;}
/*
    Animations
 */
//Gear Animation
@keyframes rotate-gear {
  from{
    -ms-transform: rotate(0); /* IE 9 */
    -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
    transform: rotate(0);
  }
  to{
    $rotation-measurement:45deg;
    -ms-transform: rotate($rotation-measurement); /* IE 9 */
    -webkit-transform: rotate($rotation-measurement); /* Chrome, Safari, Opera */
    transform: rotate($rotation-measurement);
  }
}
.rotate-gear-animation{
  animation-name: rotate-gear;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}