{
  "name": "BioWardrobe-NG",
  "logLevel": "debug",
  "base_url": "https://mydomain.com/",
  "email": {
    "url": "smtp://loginname:password@smtp.gmail.com:465/",
    "from": "user@mydomain.com"
  },
  "extra_users":[
      "extra@user.com"
  ],
  "ldap": {
    "url": "ldap://192.168.1.1:389",
    "dc": "DC=DC1,DC=DOMAIN,DC=ORG",
    "dn": "cn=SRV,OU=SERVICE,DC=DC1,DC=DOMAIN,DC=ORG",
    "password": "password"
  },
  "public":{
    "staleSessionInactivityTimeout": 300000,
    "staleSessionHeartbeatInterval": 120000,
    "staleSessionPurgeInterval": 60000,
    "staleSessionActivityEvents": "mousemove click keydown"
  },
  "accounts":{
    "sendVerificationEmail": true,
    "forbidClientAccountCreation": true,
    "loginExpirationInDays": 7
  },
  "uploadDirectory": "/tmp",
  "oauth2server": {
    "clients":[
      {
        "clientId": "uniqueCliendId",
        "clientSecret": "secretKey",
        "redirectUri": "http://your-domain.com/path/for/oauth"
      }
    ],
    "grant_type": ["authorization_code", "refresh_token"],
    "accessTokenLifetime": 600,
    "refreshTokenLifetime": null,
    "authCodeLifetime": 600,
    "domain": "mydomain.com"
  },
  "remotes": {
      "filestorage": {
        "loginUrl": "",
        "viewListUrl": "",
        "downloadUrl": "",
        "caption": "",
        "type": "files",
        "collection": {
          "name": "file_storage",
          "nullConnection": false
        },
        "encryptKey": "",
        "private_key": "",
        "private_iv": "",
        "token": "",
        "refreshSessionInterval": 600,
        "auth":
          {
            "login": "yourLogin",
            "pass": "yourPassword"
          }
      }
    }
}