{
  "name": "BioWardrobe-NG",
  "logLevel": "debug",
  "base_url": "https://biowardrobe.com/",
  "rc_server": "http://localhost:3000/",
  "rc_server_token": "XXX",
  "email": {
    "url": "smtp://loginname:password@smtp.gmail.com:465/",
    "from": "biowardrobe@biowardrobe.com"
  },
  "extra_users":[
      {"email":"extra@user.com","pass":"mysecretpass"}
  ],
  "ldap": {
    "url": "ldap://192.168.1.1:389",
    "dc": "DC=DC1,DC=DOMAIN,DC=ORG",
    "dn": "cn=SRV,OU=SERVICE,DC=DC1,DC=DOMAIN,DC=ORG",
    "password": "password"
  },
  "public":{
    "staleSessionInactivityTimeout": 240000,
    "staleSessionHeartbeatInterval": 120000,
    "staleSessionPurgeInterval": 60000,
    "staleSessionActivityEvents": "mousemove click keydown"
  },
  "uploadHome": "/tmp",
  "oauth2server": {
    "clients":[
      {
        "clientId": "abcd",
        "clientSecret": "secretkey",
        "redirectUri": "http://localhost:3000/_oauth/biowardrobe"
      }
    ],
    "grant_type": ["authorization_code", "refresh_token"],
    "accessTokenLifetime": 600,
    "refreshTokenLifetime": null,
    "authCodeLifetime": 600,
    "domain": "mydomain.org"
  },
  "remotes": {
      "filestorage": {
        "loginUrl": "",
        "viewListUrl": "",
        "downloadUrl": "",
        "caption": "",
        "type": "files",
        "collection": {
          "name": "file_storage",
          "nullConnection": false
        },
        "encryptKey": ""
      }
    }
}

