<link href="/css/styles.css" rel="stylesheet" media="screen">
<link href="/css/plugins.css" rel="stylesheet" media="screen">
<div class="login fullscreen">
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo">
                <img src="images/logo.png" alt="Cincinnati Childrens Hospital Medical Center"/>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>